    <div class="grid">
      <a routerLink="/currentOrders" class="item img-1">
        <div>
          <div class="caption">
            <h2>Current orders</h2>
          </div>
          <div class="caption cpt2">
            <p>View information about current orders</p>
          </div>
        </div>
      </a>
      <a routerLink="/newOrder" class="item img-2">
        <div>
          <div class="caption">
            <h2>New order</h2>
          </div>
          <div class="caption cpt2">
            <p>Add new order</p>
          </div>
        </div>
      </a>
      <a routerLink="/completedOrders" class="item img-3">
        <div>
          <div class="caption">
            <h2>Completed orders</h2>
          </div>
          <div class="caption cpt2">
            <p>View the history of completed orders</p>
          </div>
        </div>
      </a>
      <a routerLink="/prices" class="item img-4">
        <div>
          <div class="caption">
            <h2>Price list</h2>
          </div>
          <div class="caption cpt2">
            <p>View prices</p>
          </div>
        </div>
      </a>
      
      
    </div>

