<header>
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" routerLink="">JEWELER MASTER</a>
          <ul class="nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" routerLink="/currentOrders">
                  Current orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/newOrder">
                  New order
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/completedOrders">
                  Completed orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/prices">
                  Price list
                </a>
            </li>
        </ul>
      </div>
    </nav>
  </header>
